#map {
  width: 100%;
  height: 100%;
  margin: 0;
}

#top-container {
  display: flex;
  align-items: center;
}

#info-container {
  width: 25vw;
  height: 90vh;
  overflow-y: scroll;
}

#info-container h1 {
  font-size: 4vh;
  font-weight: 500;
  text-align: center;
  margin: 1vh;
}

#info-container p {
  font-size: 2vh;
  text-align: center;
  width: 70%;
  margin: 1vh auto;
}

#map-container {
  width: 75vw;
  height: 90vh;
  position: relative;
  padding: 0;
}

#tweet-container {
  margin: 1vh;
}

#map-info {
  margin: 2vh 0;
}

#map-info p {
  font-size: 2.5vh;
  line-height: 3.5vh;
}

.maplibregl-popup-content {
  box-shadow: 0 0 1vh black !important;
  border-radius: 0vh !important;
  min-width: 30vw;
}

.info-control {
    position: absolute;
    top: 2vh;
    right: 2.5vh;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
  #map-info {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  #top-container {
    flex-direction: column;
  }

  #info-container {
    height: 50vh;
    width: 100%;
  }

  #map-container {
    height: 40vh;
    width: 100%;
    margin-top: 2vh;
  }
}
