body {
  font-family: Montserrat, sans-serif;
  padding: 0px;
  margin: 0px;
}

span {
  display: inline-block;
  vertical-align: middle;
}

#header {
  display: flex;
  height: 9vh;
  position: relative;
  border-bottom: 1px solid #122a4a; /*2b4532*/
}

#headertitle {
  font-size: 8vh;
  color: white;
  margin: 0px;
  padding: 0px;
}

#homeimage {
  background-image: url('./Images/SwannanoaHeleneBanner.jpg');
  background-position: center;
  background-size: 100%;
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  transition: 1s;
}

#img0 {
  background-color: white;
}

.imagecircles {
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid white; /* Adjust border width as needed */
  margin-right: 0.5vh;
  cursor: pointer;
}

.headerflex {
  flex: 1;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
  background-image: url('./Images/mountainstrip.jpg');
  background-position: center;
  background-size: 100%;
}

.headerflex2 {
  flex: 2;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

#activemenu {
  background-color: #122a4a;
  color: white;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%; /* Adjust as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  transition: 0.2s;
}

.menu-item {
  color: #122a4a;
  font-weight: bold;
  font-size: 3vh;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 9vh;
  text-decoration: none;
  transition: background-color 0.3s;
}

.menu-item:hover {
  color: white;
  background-color: #54697F;
}

.menu-incactive {
  color: #122a4a;
  font-weight: bold;
  font-size: 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 9vh;
  text-decoration: none;
  transition: background-color 0.3s;
  opacity: 0.5;
}

/* .menu-incactive:hover {
  color: white;
  background-color: #878787;
} */

#primaryselection {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.primaryflex {
  cursor: pointer;
  flex: 1;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin: 8vh;
  color: #0B375C;
  border-radius: 0px;
  border: 3px solid #122a4a;
  background-color: white;
  font-weight: bold;
  font-size: 2.5vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.primaryflex a {
  color: #0B375C;
  text-decoration: none;
}

.primaryflex:hover {
  background-color: #0B375C;
  color: white;
}

.primaryflex:hover a {
  color: white;
}

.forecast {
  max-width: 800px;
  margin: 20px auto;
  padding: 4px 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.2s;
}

.forecast a {
  color: black;
  text-decoration: none;
}

.forecast:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  max-width: 805px;
}

#comingsoon {
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  height: max-content;
  margin-top: 30vh;
  line-height: 5vh;
  font-weight: bold;
  color: #0B375C;
  font-size: 2.5vh;
}

#about1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  display: block;
}

#slogan {
  font-size: 6vh;
  color: #122a4a;
  font-weight: bold;
}

#aboutdescription {
  max-width: 800px;
  font-size: 20px;
}

#aboutimages {
  justify-content: center;
  display: flex;
}

.profile {
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.2s;
  padding: 0px;
  text-align: center;
  margin: 20px;
}

.profile img {
  width: 100%;
  border-radius: 10px;
}

.profile:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  width: 405px;
}

.profilename {
  font-size: 20px;
  font-weight: bold;
}

.profileinfo {
  font-size: 15px;
}

@media screen and (max-width: 1024px) {
  #header {
    flex-direction: column;
    height: 14vh;
    width: 100vw;
  }

  .headerflex2 {
    flex: 1;
  }

  .menu-item {
    font-size: 1.5vh;
    line-height: 4vh;
  }

  #homeimage {
    background-size:cover;
    height: 70vh;
    padding-bottom: 0;
  }

  .imagecircles {
    margin-bottom: 2vh;
  }

  #primaryselection {
    height: 6vh;
  }

  .primaryflex {
    margin: 0 1vh;
    height: 4vh;
    font-size: 1vh;
    padding: 0 0.5vh;
  }

  #comingsoon {
    text-align: left;
    padding: 2vh;
    height: max-content;
    margin-top: 0;
    line-height: 5vh;
    font-size: 2vh;
  }
}
